* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-image: url(https://image.winudf.com/v2/image/Y29tLmhhY2tlci53YWxscGFwZXIuSGFja2VyV2FsbHBhcGVyNEtfc2NyZWVuXzBfMTUzMzAzMDgxMl8wNTM/screen-0.webp?fakeurl=1&type=.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
#container {
  z-index: 10;
  text-align: center;
}
#container h1 {
  margin-top: 55px;
  color: #9fc3c3;
  font-size: 60px;
  font-family: 'Lobster', cursive;
}
#container p {
  margin-top: 30px;
  color: #9fc3c3;
  font-size: 60px;
  font-family: 'Lobster', cursive;
}
#but {
  width: 100%;
  margin-top: 80px;
  padding-left: 100px;
}
#but .note {
  width: 280px;
  height: 180px;
  font-size: 20px;
  color: #9fc3c3;
  border-radius: 30px;
  background-color: rgba(171, 214, 216, 0.202);
  box-shadow: 0 0 40px;
  margin-right: 25px;
  margin-top: 15px;
  text-align: center;
  resize: none;
  font-family: 'Tangerine', cursive;
}
#but button {
  width: 280px;
  height: 180px;
  font-size: 40px;
  color: #9fc3c3;
  border-radius: 30px;
  background-color: rgba(0, 247, 255, 0.202);
  box-shadow: 0 0 40px;
  cursor: pointer;
}
#but .note:hover {
  box-shadow: 0 0 0 9px rgba(135, 207, 235, 0.185);
}
#but button:hover {
  background-color: rgba(47, 75, 94, 0.619);
}
